body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Стилі для загальної сторінки */
.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Мінімальна висота сторінки */
}

/* Меню на 100% */
.menu-container {
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Контейнер для форми відновлення паролю */
.sign-in-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    flex: 1; /* Заповнює простір між меню та футером */
}

.sign-in-container h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.sign-in-form {
    margin-top: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensure button and input sizes are consistent */
}

.sign-in-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #077f00;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    box-sizing: border-box; /* Ensure button size is consistent with input fields */
}

.sign-in-button:hover {
    background-color: #11550d;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.forgot-password-link {
    color: dodgerblue;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    font-size: 14px;
}

.forgot-password-link:hover {
    color: #007bff;
    font-weight: bold;
    text-decoration: underline;
}

/* Стилі для футера */
.footer-container {
    width: 100%;
    padding: 0;
    margin: 0;
}

/* MEDIA QUERIES FOR RESPONSIVENESS */

/* For tablets and below */
@media (max-width: 768px) {
    .sign-in-container {
        width: 90%;
        padding: 15px;
    }

    .sign-in-container h1 {
        font-size: 22px;
    }

    .input-group input {
        font-size: 14px;
    }

    .sign-in-button {
        font-size: 14px;
        padding: 8px;
    }

    .forgot-password-link {
        font-size: 12px;
    }
}

/* For mobile phones and below */
@media (max-width: 480px) {
    .sign-in-container {
        width: 95%;
        padding: 10px;
    }

    .sign-in-container h1 {
        font-size: 20px;
    }

    .input-group input {
        font-size: 14px;
    }

    .sign-in-button {
        font-size: 14px;
        padding: 8px;
    }

    .forgot-password-link {
        font-size: 12px;
    }
}
