<h2><b>Вітаємо {{email}}!</b></h2>
<h4>Ваша робота уже в процесі написання!</h4>
<h5>До вказаного вами дедлайну вона з'явиться у вашому кабінеті</h5>
<h5>Як тільки вона буде готова, ми сповістимо вас</h5>