<h2>Відновлення пароля</h2>
<p>Вітаємо {{user}}!</p>
<p>Ми отримали запит на відновлення вашого пароля. Для продовження натисніть на посилання нижче:</p>
<a href="{{resetLink}}" style="color: blue; text-decoration: underline;">Скинути пароль</a>
<p>Якщо ви не надсилали цей запит, просто проігноруйте цей лист.</p>


