<h2><b>Вітаємо {{email}}!</b></h2>
<h4>Ваша робота уже у вашому особистому кабінеті!</h4>
<h5>Обов'язково сповіщайте про правки як тільки вони з'являться</h5>
<h5>Хороших академічних успіхів, ваш Studenthome!</h5>